<ul class="pagination">
  <li class="arrow {{if isFirst 'unavailable'}}">
    <a disabled={{boolean-attr isFirst}} {{action 'firstPage'}}>&laquo;</a>
  </li>
  <li  class="arrow {{if isFirst 'unavailable'}}">
    <a disabled={{boolean-attr isFirst}} {{action 'prevPage'}}>&lsaquo;</a>
  </li>
  {{#each pages as |page|}}
    {{#if page.gap}}
      <li class="unavailable">&hellip;</li>
    {{else}}
      <li class="{{if page.current 'current'}}"><a {{action 'gotoPage' page.page}}>{{page.page}}</a></li>
    {{/if}}
  {{/each}}
  <li class="arrow {{if isLast 'unavailable'}}">
    <a disabled={{boolean-attr isLast}} {{action 'nextPage'}}>&rsaquo;</a>
  </li>
  <li class="arrow {{if isLast 'unavailable'}}">
    <a disabled={{boolean-attr isLast}} {{action 'lastPage'}}>&raquo;</a>
  </li>
</ul>